/* Global app styles */
body {
    
    background: url(../img/plus-beau-que-blanc.jpg) border-box;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
    height: 100vh;
  }
  #root{
    align-content: center;
    position: absolute;
    bottom:3%;
    height: 500px;
    justify-content: center;
    right: 3%;
    display: flex;
    width: 350px;
  }
  .container {
    height: 500px;
    margin-top: 10px;
    overflow: hidden;
    width: 400px;
  }
  .app {
    border-radius: 20px;
    height: 500px;
    /*Pour masquer la fenetre a l'état initial*/
    /* margin-top: 500px; */
    display: flex;
    flex-direction: column;
    width: 350px;
    /* état intermédiaire */
    /* transform: translateY(-64px);  */
    /*Etat Ouvert */
    /* transform: translateY(-500px); */
  }
  
  /*  Header styles */
  header {
    background-color: #0e4bef;
    border: 1px solid black;
    border-radius: 10px 10px 0 0;
    display: flex;
    height: 64px;
    justify-content: flex-end;
    position: relative;
    width: 100%;
  }
  .agentPic {
    background: url(../img/avatar.jpg) 45% 45% border-box;
    background-size: 50px;
    border: 1px solid black;
    border-radius: 50%;
    height: 50px;
    left: 20px;
    position: absolute;
    top: 7px;
    width: 50px;
    overflow: hidden;
  }
  .agentName {
    color: black;
    font-weight: bold;
    position: absolute;
    top: 18px;
    left: 90px;
  }
  em {
    font-size: 0.75em;
    color: rgba(0, 0, 0, 0.8);
    font-weight: bold;
  }
  header > span:first-child {
    font-size: 1.2em;
    font-weight: 900;
    padding-top: 3px;
  }
  span {
    margin-right: 15px;
    margin-top: 10px;
  }
  
  /* Chat area styles*/
  .chatArea {
    position: relative;
    border: 1px solid black;
    background-color: rgba(99, 93, 93, 0.85);
    display: flex;
    flex-direction: column;
    height: 356px;
    justify-content: flex-start;
    flex-wrap: auto; /* régle le pb de scroll */
    overflow-y: scroll;
  }
  .chatArea::-webkit-scrollbar {
    width: 7px;
    height: 8px;
    background-color: #aaa;
  }
  .msgAgent {
    background-color: #93c1ee;
    border: 1px solid black;
    color: white;
    padding: 18px;
    line-height: 18px;
    font-size: 16px;
    border-radius: 7px;
    margin-top: 10px;
    margin-left: 10px;
    position: relative;
    width: 75%;
  }
  .label {
    position: absolute;
    top: -2em;
    font-size: 10px;
  }
  .msgAgent > .label,
  .msgInfo > .label {
    left: 10px;
  }
  .msgUser > .label {
    right: 10px;
  }
  
  .isTypingBox {
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 20px;
    left: 5px;
    top: 5px;
    width: 60px;
    position: sticky;
    z-index: 1;
  }
  .isTyping {
    transform: translateY(-17px);
    font-size: 50px;
    font-weight: bold;
    /* padding-bottom: 0.8em; */
    align-self: center;
  }
  .msgUser {
    align-self: flex-end;
    background-color: #c19bd1;
    border: 1px solid black;
    border-radius: 7px;
    color: white;
    line-height: 18px;
    font-size: 16px;
    margin-right: 10px;
    margin-top: 10px;
    padding: 18px;
    position: relative;
    text-align: right;
    width: 75%;
  }
  .msgInfo {
    align-self: center;
    background-color: #ce99ff;
    border: 1px solid black;
    border-radius: 7px;
    color: white;
    line-height: 26px;
    font-size: 16px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-top: 20px;
    padding: 18px;
    position: relative;
    text-align: center;
    width: 60%;
  }
  .msgLog {
    padding-top: 5px;
    color: #fafafa;
    align-self: center;
    text-align: center;
    font-size: 12px;
  }
  
  /* Footer styles*/
  footer {
    background-color: #c0c0c0;
    height: 80px;
    width: 100%;
    bottom: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 0 0 10px 10px;
  }
  .inputText {
    border-radius: 5px 5px 10px 10px;
    flex-basis: 78%;
    height: 70%;
    resize:none;
  }
  .sendButton {
    width: 35px;
    height: 35px;
    background-color: red;
    clip-path: polygon(95% 50%, 0 0, 0 100%);
    box-shadow: 0px 8px 15px rgb(0, 0, 0, 0.7);
  }
  .sendButton:hover {
    background-color: rgb(18, 159, 18);
    transform: scale(1.2);
    transition: transform 0.2s;
  }