body{
    background: url(../img/plus-beau-que-blanc.jpg) border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#root{
    background-color: #0e4bef;
    border-radius: 20px;
    bottom: 5%;
    height: 500px;
    position: absolute;
    right: 3%;
    width: 350px;
}
